html {
    scroll-behavior: smooth;
  }

.paint{
    margin-right: 70px;
}

@media (max-width:1023px) {
    .paint{
        margin-right: 0px;
    }
}

#contact{
    margin-top: 30px;
}

.gallery-part{
    margin-bottom: 130px;
}

.text-home{
    margin-left: 70px;
}

